img{
    width:250px;
    border-radius:120px;
    height:320px;
    
}

.container{

    background-color:rgb(207, 147, 216);
    border-style:solid;
    border-width:7px;
    height:1400px;
    padding:70px;
    margin:70px;
    margin-right:50px;
    
    
}

.h1{

    font-size:60px;
}

.Mainpara{

    margin-right:100px;
    text-align:justify;
    letter-spacing:1.2px;
    line-height:30px;
}

.biograph>li{

     margin-bottom:20px;
}


#first{
    margin-top:100px;
    margin-left:100px;
    font-size:40px;
}

#second{

    margin-left:370px;
}

#footer{

    margin-top:190px;
    margin-left:710px;
}